{% extends 'base.html' %}

{% block content %}
<h5>Name: </h5>
<p>{{ username }}</p>

<button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>

<table>
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% comment %} Add data below {% endcomment %}
    {% for item in todolist %}
        <tr>
            <th>{{ item.user }}</th>
            <th>{{ item.date }}</th>
            <th>{{ item.title }}</th>
            <th>{{ item.description }}</th>
        </tr>
{% endfor %}
</table>
<h5>Last Login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}